<launch>

    <!-- Run the map server -->
    <node pkg="map_server" type="map_server" name="map_saver" args="$(find map_server)/test/rm2022wc.yaml"/>  

    <!-- 在rviz中显示-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_server)/rviz/rviz.rviz" required="true" />

    <!-- use static_transform pkg to publish tf of tags and map -->
    <node pkg="static_transform" type="static_tf" name="static_tf"/>  
    
</launch>
